
html, body {
  background-color: #0e1111;
}

#game {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  margin: 0, auto, 0, auto;
  padding-top: 2rem;
  text-align: center;
}

#logout-button{
  position: fixed;
  left: 40.5%;
  top: 24%;
}

#input-box-login, #input-box-register, #badges-form{
  color: white;
  width: 20rem;
  height: 15rem;
  padding: 1rem;
  position: fixed;
  left: 40.5%;
  top: 24%;
}

#input-box-login input[type='text'], #input-box-login input[type='password'],
#input-box-register input[type='text'], #input-box-register input[type='password'], #badges-form input{
  border:none;
  border-radius:5px;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 8px 4px;
}

#input-box-login input:focus, #input-box-register input:focus, #badges-form input:focus{
  outline: 3px solid #F39C12;
}

#input-box-login input[type='submit'], #input-box-register input[type='submit'], #badges-form input[type='submit']{
  border: none;
  border-radius: 5px;
  width: 103%;
  height: 3rem;
  margin-top: 1rem;
  padding: 8px 4px;
  background-color: #363636;
  color: white;
  font-weight: bold;
}

#input-box-login input[type='submit']:hover, #input-box-register input[type='submit']:hover, #badges-form input[type='submit']:hover {
  background-color: #F39C12;
  color: white;
}

#logout-button{
  position: absolute;
  left: 31%;
  top: 7%;
}

.rounded {
  background-color: #363636;
  color: white;
  border-radius: 50%;
  padding: 10px;
}

.rounded:hover {
  background-color: #F39C12;
}